<ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button text="Voltar" defaultHref="home" ></ion-back-button>
      </ion-buttons>
    <ion-title>Componentes</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  
    <ion-button expand="full" (click)="AbrirPagina('componente-actionsheet')">Action Sheet</ion-button>
    <ion-button expand="full" (click)="AbrirPagina('componente-alert')">Alert</ion-button>
    <ion-button expand="full" (click)="AbrirPagina('componente-badges')">Badges</ion-button>
    <ion-button expand="full" (click)="AbrirPagina('componente-botoes')">Buttons</ion-button>
    <ion-button expand="full" (click)="AbrirPagina('componente-card')">Card</ion-button>
    <ion-button expand="full" (click)="AbrirPagina('componente-checkbox')">CheckBox</ion-button>
    <ion-button expand="full" (click)="AbrirPagina('componente-radio')">Radio</ion-button>
    <ion-button expand="full" (click)="AbrirPagina('componente-datetime')">Date Time</ion-button>
    <ion-button expand="full" (click)="AbrirPagina('componente-fab')">Fab</ion-button>
    <ion-button expand="full" (click)="AbrirPagina('componente-input')">Input</ion-button>
    <ion-button expand="full" (click)="AbrirPagina('componente-list')">List</ion-button>
    <ion-button expand="full" (click)="AbrirPagina('componente-loading')">Loading</ion-button>
    <ion-button expand="full" (click)="AbrirPagina('componente-modal')">Modal</ion-button>
    <ion-button expand="full" (click)="AbrirPagina('componente-range')">Range</ion-button>
    <ion-button expand="full" (click)="AbrirPagina('componente-select')">Select</ion-button>
    <ion-button expand="full" (click)="AbrirPagina('componente-slide')">Slide</ion-button>
    <ion-button expand="full" (click)="AbrirPagina('componente-spinner')">Spinner</ion-button>
    <ion-button expand="full" (click)="AbrirPagina('componente-toast')">Toast</ion-button>
    <ion-button expand="full" (click)="AbrirPagina('componente-infinitscroll')">InfinitScroll</ion-button>
    <ion-button expand="full" (click)="AbrirPagina('componente-popover')">Popover</ion-button>
    <ion-button expand="full" (click)="AbrirPagina('componente-refresh')">Refresh</ion-button>
    <ion-button expand="full" (click)="AbrirPagina('componente-searchbar')">Searchbar</ion-button>
    <ion-button expand="full" (click)="AbrirPagina('componente-toggle')">Toggle</ion-button>

    
</ion-content>
