<ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button text="Voltar" defaultHref="componentes" ></ion-back-button>
      </ion-buttons>
    <ion-title>CheckBox</ion-title>
  </ion-toolbar>
  </ion-header>

<ion-content>

  <ion-item>
    <ion-label>Padrão</ion-label>
    <ion-checkbox></ion-checkbox>
  </ion-item>

  <ion-item>
      <ion-label>Start</ion-label>
      <ion-checkbox slot="start"></ion-checkbox>
  </ion-item>

  <ion-item>
    <ion-label>Disable</ion-label>
    <ion-checkbox disabled="true"></ion-checkbox>
  </ion-item>

  <ion-item>
      <ion-label>Checked</ion-label>
      <ion-checkbox checked="true"></ion-checkbox>
  </ion-item>

  <ion-item>
      <ion-label>Disable + Checked</ion-label>
      <ion-checkbox checked="true" disabled="true"></ion-checkbox>
  </ion-item>

  <ion-item>
    <ion-label>Cores</ion-label>
    <ion-checkbox color="danger" checked="true"></ion-checkbox>
  </ion-item>

  <ion-item>
      <ion-label>Cores</ion-label>
      <ion-checkbox color="success" checked="true"></ion-checkbox>
    </ion-item>


<h3>Meses do Ano</h3>

<!-- Enquanto houver mes na variavel "meses" ele irá jogar na lista de checkbox-->
<!-- No label est pegando o nome do mes e jogando no list-->

<ion-list>
  <ion-item *ngFor="let mes of meses">
    <ion-label>{{mes.nomeDoMes}}</ion-label>
    <ion-checkbox checked="{{mes.marcado}}"></ion-checkbox>
  </ion-item>
</ion-list>




</ion-content>
