<ion-header>
  <ion-toolbar>
    <ion-back-button slot="start" text="Voltar" defaultHref="botoes"></ion-back-button>
    <ion-title>Tabs</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-tabs>
      <ion-tab-bar slot="bottom">
        <ion-tab-button tab="tab1">
            <ion-icon name="md-musical-notes"></ion-icon>
            <ion-label>Músicas</ion-label>
            <ion-badge>6</ion-badge>
        </ion-tab-button>

        <ion-tab-button tab="tab2">
          <ion-icon name="list"></ion-icon>
          <ion-label>Play List</ion-label>
        </ion-tab-button>

        <ion-tab-button tab="tab3">
          <ion-icon name="md-star-outline"></ion-icon>
          <ion-label>Favoritas</ion-label>
        </ion-tab-button>
      </ion-tab-bar>
</ion-tabs>

</ion-content>
