<ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button text="Voltar" defaultHref="componentes" ></ion-back-button>
      </ion-buttons>
    <ion-title>Card</ion-title>
  </ion-toolbar>
  </ion-header>

<ion-content>

  <ion-card>
      <ion-card-content>
          <ion-card-title>Aulas de Contra-Baixo</ion-card-title>
        </ion-card-content>
    <ion-img src="assets/bass.png"></ion-img>
  </ion-card>

  <ion-card>

    <ion-item>
      <ion-icon name="book"></ion-icon>
      <ion-label>Material de Estudo</ion-label>
    </ion-item>

    <ion-item>
        <ion-icon name="musical-notes"></ion-icon>
        <ion-label>Aulas Práticas</ion-label>
    </ion-item>

    <ion-item>
          <ion-icon name="logo-usd"></ion-icon>
          <ion-label>Preço Acessivel!</ion-label>
    </ion-item>

  </ion-card>
  
  <ion-card>
      <ion-card-header>
        <ion-card-title>Título do Cartão</ion-card-title>
        <ion-card-subtitle>Subtítulo do Cartão</ion-card-subtitle>
      </ion-card-header>
  
      <ion-card-content>
        Conteúdo do cartão!
      </ion-card-content>
    </ion-card>

</ion-content>
