<ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button text="Voltar" defaultHref="componentes" ></ion-back-button>
      </ion-buttons>
    <ion-title>Buttons</ion-title>
  </ion-toolbar>
  </ion-header>

<ion-content>

<ion-button>Padrão</ion-button>
<ion-button href="https://psdsolucoesdigitais.com/">Link</ion-button>
<ion-button href="/componentes" goBack>Back</ion-button>

<ion-button color="primary">PRIMARY</ion-button>
<ion-button color="secondary">SECONDARY</ion-button>
<ion-button color="tertiary">TERTIARY</ion-button>
<ion-button color="success">SUCCESS</ion-button>
<ion-button color="warning">WARNING</ion-button>
<ion-button color="danger">DANGER</ion-button>
<ion-button color="light">LIGHT</ion-button>
<ion-button color="dark">DARK</ion-button>

<ion-button expand="full">EXPAND</ion-button>
<ion-button expand="block">BLOCK (Arredonda as pontas)</ion-button>
<ion-button round >ROUND</ion-button>
<ion-button expand="full" fill="outline">OUTLINE</ion-button>

<ion-button color="dark">
  <ion-icon slot="icon-only" name="contact"></ion-icon>
</ion-button>

<ion-button size="small">Pequeno</ion-button>
<ion-button >Padrão</ion-button>
<ion-button size="large">Grande</ion-button>




</ion-content>
