<ion-header>
  <ion-toolbar>
    <ion-buttons>
      <ion-back-button text="Voltar" defaultHref="botoes" ></ion-back-button>
      <ion-title>css-utilities</ion-title>
  </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col>
        <div text-start>
          <h3>text-start</h3>
          Texto no inicio!
        </div>
      </ion-col>
      <ion-col>
          <div text-center>
            <h3>text-center</h3>
            Texto centralizado!
          </div>
        </ion-col>
        <ion-col>
            <div text-end>
              <h3>text-end</h3>
              Texto no fim!
            </div>
          </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <div text-uppercase>
          <h3>text-uppercase</h3>
          Texto maiúsculo!
        </div>
      </ion-col>
      <ion-col>
          <div text-lowercase>
            <h3>text-lowercase</h3>
            Texto minusculo!
          </div>
        </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <div text-capitalize>
          <h3>text-capitalize</h3>
          Dentro deste conteúdo, as primeiras letras das palavras ficam maiúsculas!
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
  
<h3>Trabalhando com padding</h3>
<img src="assets/padding.PNG" alt="">

</ion-content>
