<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text="Voltar" defaultHref="componentes" ></ion-back-button>
    </ion-buttons>
  <ion-title>Badges</ion-title>
</ion-toolbar>
</ion-header>

<ion-content>

<ion-badge color="primary">10</ion-badge>
<ion-badge color="secondary">20</ion-badge>
<ion-badge color="warning">30</ion-badge>
<ion-badge color="dark">45</ion-badge>

<ion-list>
  <ion-item>
    <ion-icon name="logo-facebook"></ion-icon>
    <ion-badge slot="end">7</ion-badge>
    Facebook
  </ion-item>
</ion-list>

<ion-list>
  <ion-item>
    <ion-icon name="musical-notes" ></ion-icon>
    <ion-badge color="secondary" slot="end">563</ion-badge>
    Músicas
  </ion-item>
</ion-list>

<ion-list>
  <ion-item>
    <ion-icon name="share"></ion-icon>
    <ion-badge color="danger" slot="end">1.643</ion-badge>
    Compartilhamentos
  </ion-item>
</ion-list>



</ion-content>


<ion-footer>
    <ion-toolbar>
      <ion-button slot="end">
        <ion-icon name="mail"></ion-icon>
        <ion-badge>8</ion-badge>
      </ion-button>
    </ion-toolbar>
</ion-footer>