<ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button text="Voltar" defaultHref="componentes" ></ion-back-button>
      </ion-buttons>
    <ion-title>Fab</ion-title>
  </ion-toolbar>
  </ion-header>

<ion-content padding>

  <ion-fab vertical="top">
    <ion-fab-button>
      <ion-icon name="arrow-dropleft"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <ion-fab vertical="bottom">
    <ion-fab-button>
      <ion-icon name="arrow-dropleft"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <ion-fab vertical="top" horizontal="end">
    <ion-fab-button>
      <ion-icon name="arrow-dropright"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  
  
  <ion-fab vertical="bottom" horizontal="end">
    <ion-fab-button>
      <ion-icon name="arrow-dropright"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <ion-fab vertical="center" horizontal="center">
    <ion-fab-button>
      <ion-icon name="share"></ion-icon>
    </ion-fab-button>

    <ion-fab-list side="top">
      <ion-fab-button>
        <ion-icon name="logo-skype"></ion-icon>
      </ion-fab-button>
     </ion-fab-list>

    <ion-fab-list side="start">
      <ion-fab-button>
        <ion-icon name="logo-facebook"></ion-icon>
      </ion-fab-button>
    </ion-fab-list>

  <ion-fab-list side="botton">
    <ion-fab-button>
      <ion-icon name="logo-google"></ion-icon>
    </ion-fab-button>
  </ion-fab-list>

    <ion-fab-list side="end">
     <ion-fab-button>
       <ion-icon name="logo-twitter"></ion-icon>
      </ion-fab-button>
    </ion-fab-list>

  </ion-fab>

</ion-content>
