<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text="Voltar" defaultHref="componentes" ></ion-back-button>
    </ion-buttons>
  <ion-title>Alert</ion-title>
</ion-toolbar>
</ion-header>

<ion-content>

  <ion-button expand="full" (click)="abrirAlertSimples()">Abrir Alert Simples</ion-button>
  <ion-button expand="full" (click)="abrirAlertComposto()">Abrir Alert Composto</ion-button>
  <ion-button expand="full" (click)="abrirAlertConfirma()">Abrir Alert Confirmação</ion-button>
  <ion-button expand="full" (click)="abrirPrompt()">Abrir Prompt</ion-button>
  <ion-button expand="full" (click)="abrirRadio()">Abrir prompt/Radio</ion-button>
  <ion-button expand="full" (click)="abrirCheckBox()">Abrir prompt/CheckBox</ion-button>

</ion-content>
